.nav__btn_right{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;

}


.nav__btn_right:after{
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    display: inline-block;
    margin-left: 6px;
    transform: rotate(45deg);
    margin-top: 10px;
    margin-right: 6px;
}