.wrap{
    width: 990px;
    margin: 0 auto;
}
.button{
    background-color: #e74c3c;
    color: #FFFFFF;
    text-transform: capitalize;
    height: 50px;
    width: 72%;
    font-size: 20px;
    margin-top: 32px;
}
.clearfix:before{
    content:'';
    display: table;
}

.clearfix:after{
    content:'';
    display: table;
}
.banner{
    padding-bottom: 122px;
}
.btn{
    margin: 0px;
    width: 500px;
}
.footer{
    background-color: #3498db;
    color: #FFFFFF;
    text-align: center;
}
.form:after{
    content: "";
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -398px;
    left: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.page{
    font: 10px/1 Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
    color: #000;
    background: #fff;
}
.point{
    height: 534px;
}
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.sprite-face{
    background: url("img/social-network-facebook.svg");
    background-repeat: no-repeat;
}

.sprite-google{
    background: url("img/social-network-google-plus.svg");
    background-repeat: no-repeat;
}

.sprite-twit{
    background: url("img/social-network-twitter.svg");
    background-repeat: no-repeat;
}
.sprite{

    width: 22px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
}
.comments{
    padding-bottom: 20px;
}
.content{
    display: inline-block;
    width: 290px;
    text-align: center;
    float: left;
    height: 440px;
    padding: 0px;

}
.content_center{
 margin: 0px 60px;

}
.text{
    height: 110px;
}
.wrapper{
    width: 990px;
    margin: 0 auto;
}
.about__head{
    padding: 20px 0;
}
.about__text{
    width: 590px;
    padding: 18px 0px 37px;
}
.banner__annotation{
    padding-left: 5px;
    width: 510px;
}
.banner__form{
    width: 377px;
    left: 61%;
}
.banner__head{
    padding-left: 5px;
    padding-top: 50px;
}
.banner__img{
    position: relative;
}

.banner__img:before{
    content:'';
    background: url("img/content-image-4.png");
    width: 225px;
    height: 364px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: -61px;
    right: 50px;
}
.btn__nav{
    float: none;
    margin: 3px 40px;
}
.btn__text{
    width: 370px;
    padding-left: 20px;
}
.footer__info{
    width: 620px;
    padding-top: 10px;
}
.footer__logo{
    width: 300px;
}
.footer__logo_circle{
    display: inline-block;
    float: left;
    font-size: 26px;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    line-height: 55px;
}


.footer__logo_text {
    text-align: left;
    width: 71%;
    float: left;
    font-size: 26px;
    padding: 5px 15px;
    border-bottom:none;
    border-right:2px solid #2980b9;

}

.footer__network{
    float: left;
    padding-top: 55px;
}
.head__logo_text {
    font-size: 26px;
    padding-left: 15px;
    border-bottom: none;
}

.point__head{
    padding: 20px 0px;
}
.comments__text{
    padding: 0px;
}


.content__advantage{
    width: 290px;
    padding: 20px 0;
}
.content__descr{
    padding: 0px;
    width: 290px;
    height: 150px;
}
.content__btn{
    margin: 0px;
}
.content__img{
    height: 159px;
    width: 290px;
}
.content__img_plant{
    background: url("img/content-image-1.png") repeat scroll 0% 50%;
}

.content__img_sciencist{
    background: url("img/content-image-2.png") repeat scroll 0% 50%;
}
.content__img_teacher{
    background: url("img/content-image-3.png") repeat scroll 0% 50%;

}
.text__citat{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: right;
    padding-top: 13px;
}
.comments__nav{
    padding: 30px 0 30px 150px;
    float: none;
}
.comments__head{
    padding: 36px 0px;
}