.form:after{
    content: "";
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    position: relative;
    transform: rotate(-45deg);
    top: -387px;
    left: 3%;
    width: 10px;
    height: 10px;
    display: inline-block;

}
