.banner__form{
    padding: 10px;
    height: 542px;
    background: #FFF none repeat scroll 0% 0%;
    color: #000;
    width: 95%;
    text-align: center;
    border-bottom: 5px solid #3498DB;
    margin: 20px auto;
    position: absolute;
    left: 2.5%;
}